/* src/styles/Header.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 5rem;
    background-color: hsla(0, 0%, 7%, 0.95);
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* .header-logo img {
    height: 40px;
    width: auto;
} */

.nav-menu {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-item {
    position: relative;
    cursor: pointer;
}

.nav-item span,
.nav-item a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.nav-item span:hover,
.nav-item a:hover {
    color: #00ffa3;
}

.dropdown-menu {
    position: absolute;
    top: 105%;
    left: -40px;
    width: 250%;
    background-color: #111;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 500;
}

.dropdown-item {
    padding: 10px 15px;
}

.dropdown-item a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.dropdown-item a:hover {
    color: #00ffa3;
}
